<div class="layout_Admin">
  <div class="Admin_Nav">
    <a href="/admin"><h5>Trang Admin</h5></a>
    <a href="/admin/program">Quản lý chương trình </a><br>
    <a href="/template">Quản lý khung</a><br>
    <a href="/admin/list-user">Quản lý user</a><br>
</div>

  <div class="Admin_product">
    <div class="Admin_product_list">
      <div class="container-card" spellcheck="false">
      {{#each templates}}
      
        <div class="card">
          <div class="card-header">
            Template {{order}}
          </div>
          <div class="card-body">
            <form id="updateForm_{{_id}}">
              <div class="form-group">
                <label for="order_{{_id}}">Order</label>
                <input type="number" class="form-control" name="order" id="order_{{_id}}" value="{{this.order}}"
                  required>
              </div>
              <div class="form-group">
                <label for="compileMethod_{{_id}}">Compile Method</label>
                <input type="text" class="form-control" name="compileMethod" id="compileMethod_{{_id}}"
                  value="{{this.compileMethod}}">
              </div>
              <div class="form-group">
                <label for="htmlContent_{{_id}}">HTML Content</label>
                <textarea class="form-control" name="htmlContent" id="htmlContent_{{_id}}"
                  rows="4">{{this.htmlContent}}</textarea>
              </div>
              <button type="button" class="btn btn-primary" onclick="updateTemplate('{{_id}}')">Update</button>
            </form>
          </div>
        </div>
      {{/each}}
      </div>

    </div>
  </div>
</div>


