<script>
  async function ThemCDRLoaiKT(index) {
    let KN = (document.getElementsByClassName('KyNang').length) + 1;
    var tbody = document.getElementById("table-4-learning-outcomes")
    var className = ["content-4-learning-outcomes-1", "content-4-learning-outcomes-2", "content-4-learning-outcomes-3", "content-4-learning-outcomes-4", "content-4-learning-outcomes-5"]
    if (index === 1) {
      var CountclassKyNangKT = document.getElementsByClassName("KyNangKT");
      var newRow = document.createElement("tr");
      var stemp = await (CountclassKyNangKT.length + 1)
      newRow.className = "KyNang KyNangKT"
      newRow.id = "KyNangKT" + stemp;

      var newRowHTML = `
          <th class="content-4-learning-outcomes-1 KT section-content text-left stt" contenteditable="true">${stemp}</th>
          <td class="content-4-learning-outcomes-2">
              <div class="section-content KT" id="KT_ND_${stemp}" contenteditable="true" onkeydown="handleKeyPress('KT_ND_${stemp}',event)"> 
                  [nội dung chuẩn đầu ra]
              </div>  
          </td>
          <td class="content-4-learning-outcomes-3">
              <div class="dropdown" id="dropdown-KT_DUPO_${stemp}">
                  <p class="section-content"> <span contenteditable="true" id="KT_DUPO_${stemp}" class="KT">PLO1</span></p>
                  <ul class="dropdown-content">
                      {{#each PLO}}
                            <li onclick="updateValue('KT_DUPO_${stemp}', '{{this.Ten_CDR}}','DUPO')">{{this.Ten_CDR}}</li>
                      {{/each}}
                  </ul>
              </div>
          </td>
          <td class="content-4-learning-outcomes-4 text-center">
              <div class="section-content dropdown">
                  <span contenteditable="true" id="KT_TD_${stemp}" class="KT">2</span>
                  <ul class="dropdown-content">
                      <li onclick="updateValue('KT_TD_${stemp}', '1','TUA')">1</li>
                      <li onclick="updateValue('KT_TD_${stemp}', '2','TUA')">2</li>
                      <li onclick="updateValue('KT_TD_${stemp}', '3','TUA')">3</li>
                      <li onclick="updateValue('KT_TD_${stemp}', '4','TUA')">4</li>
                      <li onclick="updateValue('KT_TD_${stemp}', '5','TUA')">5</li>
                  </ul>
              </div>           
          </td>
          <td class="content-4-learning-outcomes-5 text-center">
              <div class="dropdown" id="dropdown-KT_DUPO_${stemp}">
                  <p class="section-content"><span contenteditable="true" id="KT_TUA_${stemp}" class="KT">TUA</span></p>
                  <ul class="dropdown-content">
                      <li onclick="updateValue('KT_TUA_${stemp}', 'TUA','TUA')">TUA</li>
                      <li onclick="updateValue('KT_TUA_${stemp}', 'UA','TUA')">UA</li>
                      <li onclick="updateValue('KT_TUA_${stemp}', 'TA','TUA')">TA</li>
                  </ul>
              </div>
          </td>
      `;

      newRow.innerHTML = newRowHTML
      var nextRow = document.getElementById("KyNangKN");
      nextRow.parentNode.insertBefore(newRow, nextRow);
      UpdateSTTskill_TB4()

    } else if (index === 2) {
      var CountclassKyNangKT = document.getElementsByClassName("KyNangKN").length;
      var newRow = document.createElement("tr");
      var stemp = CountclassKyNangKT + 1
      newRow.id = "KyNangKN" + stemp
      newRow.className = "KyNang KyNangKN";

      var newRowHTML = `
            <th class="content-4-learning-outcomes-1 KN section-content text-left" contenteditable="true">${stemp}</th>
            <td class="content-4-learning-outcomes-2">
                <div class="section-content KN" id="KN_ND_${stemp}" contenteditable="true" onkeydown="handleKeyPress('KN_ND_${stemp}',event)"> 
                    [nội dung chuẩn đầu ra]
                </div>                        
            </td>
            <td class="content-4-learning-outcomes-3">
                <div class="dropdown" id="dropdown-KN_DUPO_${stemp}">
                    <p class="section-content"> <span contenteditable="true" id="KN_DUPO_${stemp}" class="KN">PLO1</span></p>
                    <ul class="dropdown-content"> 
                        {{#each PLO}}
                            <li onclick="updateValue('KN_DUPO_${stemp}', '{{this.Ten_CDR}}','DUPO')">{{this.Ten_CDR}}</li>
                        {{/each}}
                    </ul>
                    
                </div>
            </td>
            <td class="content-4-learning-outcomes-4 text-center">
              <div class="section-content dropdown">
                  <span contenteditable="true" id="KN_TD_${stemp}" class="KN">2</span>
                  <ul class="dropdown-content">
                      <li onclick="updateValue('KN_TD_${stemp}', '1','TUA')">1</li>
                      <li onclick="updateValue('KN_TD_${stemp}', '2','TUA')">2</li>
                      <li onclick="updateValue('KN_TD_${stemp}', '3','TUA')">3</li>
                      <li onclick="updateValue('KN_TD_${stemp}', '4','TUA')">4</li>
                      <li onclick="updateValue('KN_TD_${stemp}', '5','TUA')">5</li>
                  </ul>
              </div>            
            </td>
            <td class="content-4-learning-outcomes-5 text-center">
                <div class="dropdown" id="dropdown-KN_DUPO_${stemp}">
                    <p class="section-content"><span contenteditable="true" id="KN_TUA_${stemp}" class="KN">TUA</span></p>
                    <ul class="dropdown-content">
                        <li onclick="updateValue('KN_TUA_${stemp}', 'TUA','TUA')">TUA</li>
                        <li onclick="updateValue('KN_TUA_${stemp}', 'UA','TUA')">UA</li>
                        <li onclick="updateValue('KN_TUA_${stemp}', 'TA','TUA')">TA</li>
                    </ul>
                </div>
            </td>
        `;
      newRow.innerHTML = newRowHTML
      var nextRow = document.getElementById("KyNangTD");
      nextRow.parentNode.insertBefore(newRow, nextRow);
      UpdateSTTskill_TB4()

    } else {
      // Trường hợp index không phải 1 hoặc 2
      var CountclassKyNangTD = document.getElementsByClassName("KyNangTD").length;
      var newRow = document.createElement("tr");
      var stemp = CountclassKyNangTD + 1;

      newRow.className = "KyNang KyNangTD"
      newRow.id = "KyNangTD" + stemp;

      var newRowHTML = `
          <th class="content-4-learning-outcomes-1 TD section-content text-left" contenteditable="true">${stemp}</th>
          <td class="content-4-learning-outcomes-2"> 
              <div class="section-content TD" id="TD_ND_${stemp}" contenteditable="true" onkeydown="handleKeyPress('TD_ND_${stemp}',event)"> 
                  [nội dung chuẩn đầu ra]
              </div>
          </td>
          <td class="content-4-learning-outcomes-3">
              <div class="dropdown" id="dropdown-TD_DUPO_${stemp}">
                  <p class="section-content"> <span contenteditable="true" id="TD_DUPO_${stemp}" class="TD">PLO1</span></p>
                  <ul class="dropdown-content">
                      {{#each PLO}}
                            <li onclick="updateValue('TD_DUPO_${stemp}', '{{this.Ten_CDR}}','DUPO')">{{this.Ten_CDR}}</li>
                      {{/each}}
                  </ul>
              </div>
          </td>
          <td class="content-4-learning-outcomes-4 text-center">
              <div class="section-content dropdown">
                  <span contenteditable="true" id="TD_TD_${stemp}" class="TD">2</span>
                  <ul class="dropdown-content">
                      <li onclick="updateValue('TD_TD_${stemp}', '1','TUA')">1</li>
                      <li onclick="updateValue('TD_TD_${stemp}', '2','TUA')">2</li>
                      <li onclick="updateValue('TD_TD_${stemp}', '3','TUA')">3</li>
                      <li onclick="updateValue('TD_TD_${stemp}', '4','TUA')">4</li>
                      <li onclick="updateValue('TD_TD_${stemp}', '5','TUA')">5</li>
                  </ul>
              </div>
          </td>
          <td class="content-4-learning-outcomes-5 text-center">
              <div class="dropdown" id="dropdown-TD_DUPO_${stemp}">
                  <p class="section-content"><span contenteditable="true" id="TD_TUA_${stemp}" class="TD">TUA</span></p>
                  <ul class="dropdown-content">
                      <li onclick="updateValue('TD_TUA_${stemp}', 'TUA','TUA')">TUA</li>
                      <li onclick="updateValue('TD_TUA_${stemp}', 'UA','TUA')">UA</li>
                      <li onclick="updateValue('TD_TUA_${stemp}', 'TA','TUA')">TA</li>
                  </ul>
              </div>
          </td>
      `;
      newRow.innerHTML = newRowHTML
      // Thêm <tr> vào cuối <tbody>
      tbody.appendChild(newRow);
      UpdateSTTskill_TB4()
    }
  }

  document.getElementById('button_delete_tb4').addEventListener('click', function () {
    const focusedSpan = document.querySelector('.focus');
    if (focusedSpan && focusedSpan.classList.contains('focus')) {
      const parentTr = focusedSpan.closest('tr[class*="KyNang"]');
      if (parentTr) {
        var parentID = parentTr.id;
        var SoTrongID = parseInt(parentID.match(/\d+/)[0], 10);
        var ChuTrongID = parentID.match(/[a-zA-Z]+/)[0];

        const confirmation = window.confirm('Bạn có chắc muốn xóa phần tử này?');
        if (confirmation) {
          parentTr.remove();
          UpdateAllId_TB4(ChuTrongID, SoTrongID);
          UpdateSTTskill_TB4()

        } else {
          console.log("Người dùng đã từ chối xóa.");
        }
      } else {
        console.log("Không tìm thấy hoặc thẻ tr không có ID là 'allowDeletion_4'.");
      }
    } else {
      console.log("Không tìm thấy hoặc thẻ span không có class 'focus'.");
    }
  });

  function UpdateAllId_TB4(ChuTrongID, SoTrongID) {
    const Countallclass = document.getElementsByClassName(ChuTrongID).length;
    var updateIndex = parseInt(SoTrongID) + 1;
    for (let i = updateIndex; i <= Countallclass + 1; i++) {
      oneId_TB4(ChuTrongID, i);
    }

  }

  function oneId_TB4(ChuTrongID, i) {
    var key = getKeyWithClass(ChuTrongID);
    console.log(key);
    var I = i;
    console.log(I);
    var Iupdate = parseInt(I) - 1;

    const ND = document.getElementById(`${key}_ND_${I}`);
    const DUPO = document.getElementById(`${key}_DUPO_${I}`);
    const TD = document.getElementById(`${key}_TD_${I}`);
    const TUA = document.getElementById(`${key}_TUA_${I}`);

    const newNDId = `${key}_ND_${Iupdate}`;
    const newDUPOId = `${key}_DUPO_${Iupdate}`;
    const newTDId = `${key}_TD_${Iupdate}`;
    const newTUAId = `${key}_TUA_${Iupdate}`;

    // Thực hiện thay đổi trực tiếp ID của các phần tử
    ND.id = newNDId;
    DUPO.id = newDUPOId;
    TD.id = newTDId;
    TUA.id = newTUAId;

    var updateId = document.getElementById(ChuTrongID + i);
    updateId.id = ChuTrongID + Iupdate;
    console.log(updateId.id);
  }

  function getKeyWithClass(code) {
    if (code === 'KyNangKT') {
      return 'KT';
    } else if (code === 'KyNangKN') {
      return 'KN';
    } else if (code === 'KyNangTD') {
      return 'TD';
    } else {
      return null;
    }
  }

  function UpdateSTTskill_TB4() {
    var rows = document.querySelectorAll('.KyNang');
    rows.forEach((row, index) => {
      var sttElements = row.querySelectorAll('th');
      sttElements.forEach((sttElement, sttIndex) => {
        // Cập nhật số thứ tự cho tất cả các phần tử có class 'stt'
        sttElement.textContent = index * sttElements.length + sttIndex + 1;
      });
    });

    //update value dropdown CDR tb5

    var AllCDR = document.getElementsByClassName('content-4-learning-outcomes-1').length;
    var chuong = document.getElementsByClassName('Chuong').length;
    var ul_5 = document.querySelectorAll('.dropdown-content-5');
    var ul_5_last = document.querySelectorAll('.dropdown-content-5-last');
    
    //<li onclick="updateValue('KyNangMem1', '1','CDR')">1</li>
    ul_5.forEach(function (ulElement,index) {
      ulElement.innerHTML = '';
      var hung = [];
      for (var i = 1; i <= AllCDR; i++) {
        hung.push(cleanUpString(`
        <li onclick="updateValue('CDR_HocPhan${(index + 1)}', '${i}', 'CDR')">
          ${i}
        </li>
      `));
      }
      
      ulElement.innerHTML = hung.join('');
    });
    ul_5_last.forEach(function (ulElement,index) {
      ulElement.innerHTML = '';
      var hung = [];
      for (var i = 1; i <= AllCDR; i++) {
        hung.push(cleanUpString(`
        <li onclick="updateValue('KyNangMem${(index + 1)}', '${i}', 'CDR')">
          ${i}
        </li>
      `));
      }
      ulElement.innerHTML = hung.join('');
    });
    //update value dropdown CDR tb7_KT7
    var ul_KT7 = document.querySelectorAll('.dropdown-content-KT7');

      ul_KT7.forEach(function (ulElement, index) {
        ulElement.innerHTML = '';
        var hung = [];
        for (var i = 1; i <= AllCDR; i++) {
          hung.push(`
              <li onclick="updateValue('KT${(index + 1)}', '${i}', 'TUA')">
                ${i}
              </li>
            `);
        }
        ulElement.innerHTML = hung.join('');
    });

  }
</script>
{{>StringID}}