<style>
  .header {
    display: none;
  }
  .container {
  max-width: 900px; /* or your preferred width */
  width: 900px;
  margin: 10px auto;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 900px;
  max-width: 900px
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-body {
  padding: 2rem;
}

.form-group {
  margin-bottom: 1rem;
}

#_id {
  background-color: #e9ecef;
  color: #495057;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
</style>
{{#each templates}}
<div class="container" spellcheck="false">
    <div class="card">
      <div class="card-header">
        Template {{order}}
      </div>
      <div class="card-body">
        <form action="/update-template/{{_id}}" method="POST">
          <div class="form-group">
            <label for="order_{{_id}}">Order</label>
            <input type="number" class="form-control" name="order" id="order_{{_id}}" value="{{this.order}}" required>
          </div>
          <div class="form-group">
            <label for="compileMethod_{{_id}}">Compile Method</label>
            <input type="text" class="form-control" name="compileMethod" id="compileMethod_{{_id}}" value="{{this.compileMethod}}">
          </div>
          <div class="form-group">
            <label for="htmlContent_{{_id}}">HTML Content</label>
            <textarea class="form-control" name="htmlContent" id="htmlContent_{{_id}}" rows="4">{{this.htmlContent}}</textarea>
          </div>
          <button type="submit" class="btn btn-primary">Update</button>
        </form>
      </div>
    </div>
</div>
{{/each}}

<script>

  document.querySelector('form').addEventListener('submit', function(e) {
  e.preventDefault();
  // Your code to handle the form data and send it to your server
  console.log('Form submitted');
});
</script>