<table class="table-course-content" style="background-color: burlywood;">
    <tbody>
        <tr>
            <td rowspan="2" class="header-course-content-255_55pt">
                <p style='header-course-content-p'><strong><span>Nội dung</span></strong></p>
            </td>
            <td rowspan="2" class="header-course-content-71_8pt">
                <p style='header-course-content-p'><strong><span>CĐR học phần</span></strong></p>
            </td>
            <td colspan="2" class="header-course-content-85_25pt">
                <p style='header-course-content-p'><strong><span>Số giờ</span></strong></p>
            </td>
            <td class="header-course-content-55_85pt">
                <p style='header-course-content-p'><strong><span>Giờ tự học v&agrave; giờ học
                            kh&aacute;c</span></strong></p>
            </td>
        </tr>
        <tr>
            <td class="header-course-content-44_85pt">
                <p style='header-course-content-p'><strong><span>LT</span></strong></p>
            </td>
            <td class="header-course-content-55_85pt-2">
                <p style='header-course-content-p'><strong><span>TH</span></strong></p>
            </td>
            <td class="header-course-content-55_85pt-2">
                <p class="table-course-content-p"><span>&nbsp;</span></p>
            </td>
        </tr>
        {{!-- body - tital --}}
        {{#each chiTietChuong}}

        <tr>
            <td class="body-course-content-255_55pt">
                <p class="table-course-content-p"><strong><span style="color:  black;">{{TenChuong}}</span></strong></p>
            </td>
            <td class="body-course-content-71_8pt">
                <p style='header-course-content-p'><strong><span></span></strong></p>
            </td>
            <td class="body-course-content-44_85pt">
                <p style='header-course-content-p'><strong><span></span></strong></p>
            </td>
            <td class="body-course-content-40_4pt">
                <p style='header-course-content-p'><strong><span></span></strong></p>
            </td>
            <td class="body-course-content-55_85pt">
                <p style='header-course-content-p'><strong><span></span></strong></p>
            </td>
        </tr>
        {{!-- body - content --}}
        {{#each NoiDung}}
        <tr>
            <td class="body-content-course-content-255_55pt">
                <p class="table-course-content-p"><span>{{TenNoiDung}}</span></p>
            </td>
            <td class="body-content-course-content-71_8pt">
                <p class="table-course-content-p"><span></span></p>
            </td>
            <td class="body-content-course-content-44_85pt">
                <p class="table-course-content-p"><span>{{GioLyThuyet}}</span></p>
            </td>
            <td class="body-content--course-content-40_4pt">
                <p class="table-course-content-p"><span>{{GiothucHanh}}</span></p>
            </td>
            <td class="body-course-content-55_85pt">
                <p class="table-course-content-p"><span>{{SoGioTuHoc}}</span></p>
            </td>
        </tr>
        {{/each}}
        {{/each}}
    </tbody>
</table>

<td class="body-1-general-information-1">
    <p>
        <span>
            <label for="LoaiHocPhan1">Đại cương</label>
        </span>
        <span><input type="checkbox" value="Đại cương" id="LoaiHocPhan1"
                onclick="checkboxChanged('LoaiHocPhan1')"
                {{#isEqualLoaiHocPhan 'Đại cương' loaiHocPhan}} checked {{/isEqualLoaiHocPhan}}>
        </span>
    </p>
    <p>
        <span>
            <label for="LoaiHocPhan2">Cơ sở</label>
        </span>
        <span>
            <input type="checkbox" value="Cơ sở" id="LoaiHocPhan2"
                onclick="checkboxChanged('LoaiHocPhan2')"
                {{#isEqualLoaiHocPhan 'Cơ sở' loaiHocPhan}} checked {{/isEqualLoaiHocPhan}}>
        </span>
    </p>
    <p class="flex-row">
        <span>
            <label for="LoaiHocPhan3">Chuyên ngành</label>
        </span>
        <span>
            <input type="checkbox" value="Chuyên ngành" id="LoaiHocPhan3"
                onclick="checkboxChanged('LoaiHocPhan3')"
               {{#isEqualLoaiHocPhan 'Chuyên ngành' loaiHocPhan}} checked {{/isEqualLoaiHocPhan}}>
        </span>
    </p>
</td>
<script>

    function checkboxChanged(checkboxId) {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        checkboxes.forEach(function (checkbox) {
            if (checkbox.id !== checkboxId) {
                checkbox.checked = false;
            }
        });
    }
</script>
<script src="/js/FunctionToAll.js">
    const function_all = new FunctionToAll();
</script>