<div class="list_project">
    <div class="LP-stital">
        <h1>Danh sách dự án đã làm của bạn</h1>
    </div>
    <div class="LP-product">

        {{#if ListCreate.length}}
        <div class="LP-product-item">
            {{#each ListCreate}}
            <p id="username" class="hidden">{{this.username}}</p>
            <p id="filenam{{inc @index}}"> {{this.nameProject}}</p>
            <button class="btn btn-primary" onclick="Update({{inc @index}})">Chỉnh sửa</button>
            <button class="btn btn-primary" onclick="Delete(`{{this.fullnameFile}}`)">Xóa</button>
            <button class="btn btn-primary" onclick="PDF(`{{this.fullnameFile}}`)">PDF</button>
            {{/each}}
        </div>
        {{else}}
        <p>Không có dự án nào được tìm thấy.</p>
        {{/if}}
    </div>
</div>

<script>
    const username = document.getElementById('username').textContent.trim();
    function Update(index) {
        const tenduanElement = document.getElementById('filenam' + index);
        const usernameElement = document.getElementById('username');

        if (tenduanElement && usernameElement) {
            const tenduan = tenduanElement.textContent.trim();
            const username = usernameElement.textContent.trim();
            const filename = encodeURIComponent(username + ':' + tenduan);
            // Sử dụng axios để thực hiện yêu cầu GET với tham số trên URL
            window.location.href = `../project/update/?filename=${filename}`;
        }
    }

    function Delete(index) {
        const encodedIndex = encodeURIComponent(index);
        const isConfirmed = confirm("bạn có muốn xóa?");
        if (!isConfirmed) {
            return;
        }
        axios.delete(`../project/delete_file/${encodedIndex}`)
            .then(response => {
                console.log('xóa thành công')
            })
            .catch(error => {
                console.error('Lỗi khi gửi dữ liệu:', error.message);
            });
    }
    function PDF(index) {
        const NameValue =index.trim()
        axios.post('../project/pdf', { NameValue})
            .then(function (response) {
                window.location.href = response.data.pdfPath;
            })
            .catch(function (error) {
                console.error('Error:', error);
            });
    
    }


    document.getElementById('modify__user_hidden').style.display = 'block';
</script>
