<div class="list_project">
    <div class="LP-stital">
        <h1>Danh sách dự án đã làm của bạn</h1>
    </div>
    <div class="LP-product">

        {{#if ListCreate.length}}

        <div class="LP-product-item">
            {{#each ListCreate}}
            <p id="username" class="hidden">{{this.username}}</p>
            <p id="filenam{{inc @index}}"> {{this.nameProject}}</p>
            <button class="btn" onclick="Update({{inc @index}})">Chỉnh sửa</button>
            <button class="btn" onclick="delete({{inc @index}})">Xóa</button>

            {{/each}}
        </div>
        {{else}}
        <p>Không có dự án nào được tìm thấy.</p>
        {{/if}}
    </div>
</div>

<script>
    const username = document.getElementById('username').textContent.trim();
    function Update(index) {
        const tenduanElement = document.getElementById('filenam' + index);
        const usernameElement = document.getElementById('username');

        if (tenduanElement && usernameElement) {
            const tenduan = tenduanElement.textContent.trim();
            const username = usernameElement.textContent.trim();
            const filename = encodeURIComponent(username + ':' + tenduan);
            // Sử dụng axios để thực hiện yêu cầu GET với tham số trên URL
            window.location.href = `../project/update/?filename=${filename}`;
        }
    }

    delete_file_Name
</script>