<div class="formInput">
    <div class="formInput_monHoc" id="formInput_monHoc">

        <div class="formInput_baseA4" id="formInput_baseA4">
            <div class="PLO">
                <table>
                    {{#each processedPLOs}}
                    {{#if newGroup}}
                    <!-- Chỉ hiển thị tiêu đề này khi bắt đầu một nhóm PLO mới -->
                    <tr>
                        <th colspan="2">{{LoaiCDR_CT}}</th>
                    </tr>
                    {{/if}}
                    <tr>
                        <td class="ValuePLO">{{Ten_CDR}}</td>
                        <td style="text-align: justify;">{{NoiDung}}</td>
                    </tr>
                    {{/each}}
                </table>
            </div>
            <div class="formInput_print" spellcheck="false">
                <div class="hidden" id="findName">{{findName}}</div>
                <button class="btn" onclick="Put_Save_Delete()">TestSave_HocPhan</button>
                {{{templates}}}
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    function sendA4Content() {
        var a4Content = document.getElementById('formInput_monHoc').innerHTML;
        axios.post('/pdf', { a4Content })
            .then(function (response) {
                console.log(response.data);
            })
            .catch(function (error) {
                console.error('Error:', error);
            });
    }
</script>
<script>
    const urlParams = new URLSearchParams(window.location.search);
    const filename = urlParams.get('filename');
    var MaHP = filename.toString();
    async function Put_Save_Delete() {

        const userConfirmation = window.confirm('Bạn có chắc chắn muốn lưu dữ liệu không?');
        if (userConfirmation) {
            try {
                //const response = await axios.delete(`../delete/${MaHP}`);
                //if (response.status === 204) {
                //    console.log('Xóa thành công');

                //} else {
                //    console.log('Xóa không thành công. Mã lỗi:', response.status);
                //}
                Save_Project();
                //window.location.href = '../../user/listProject';
            } catch (error) {
                console.error('Error deleting project:', error);
            }
        } else {
            console.log('Người dùng không đồng ý lưu dữ liệu.');
        }
    }
    document.addEventListener("DOMContentLoaded", function () {
        setTimeout(function () {
            UpdateSTT_TB2();
            UpdateSTTskill_TB4();
        }, 2000);
    });
</script>
{{>table-4}}
{{> table-5}}
{{>createFocus}}
{{>CheckBox}}
{{>table-2}}
{{>CheckBox}}
{{>PostUpdate}}
{{>all_Autocomplete}}
{{>Autocomplete}}
{{>ChangeDropdownText}}
{{>CleanUpDataPost}}
{{>PostUpdate}}
{{!-- <div class="width16_cm">
    <p class="section-content text-right"><strong>PHỤ LỤC&nbsp;<span contenteditable="true"
                id="PhuLuc">{{HocPhan.PhuLuc}}</span></strong></p>
    <p class="section-content text-center"><strong><span>ĐỀ CƯƠNG CHI TIẾT HỌC PHẦN</span></strong></p>
    <p class="section-content text-center"><strong><span contenteditable="true"
                id="TenMon">{{HocPhan.TenMon}}</span></strong></p>
    <p class="section-content text-center"><strong>MSHP:<span contenteditable="true"
                id="MaMon">{{HocPhan.MaMon}}</span></strong></p>
    <p class="section-content">&nbsp;</p>
</div> --}}


{{!-- name id ẩn --}}

{{!-- --}}
{{!-- table general-information --}}
{{!-- 1. Thông tin c"class="body-course-content" (General information): --}}
{{!-- table-1-general-information --}}
{{!-- header-general-information-1 --}}
{{!-- body-general-information-1 --}}
{{!-- <div class="FormGeneral_information">
    <p class="section-content"><strong><span contenteditable="false">1. Thông tin chung (General
                information):</span></strong></p>
    <p class="section-content">&nbsp;</p>

    <table class="table-1-general-information-1 section-content">
        <tbody>
            <tr>
                <td class="header-1-general-information-1">
                    <p><strong><em>Loại học phần</em></strong></p>
                </td>
                <td class="header-1-general-information-1">
                    <p><strong><em>Số tín chỉ</em></strong></p>
                </td>
                <td class="header-1-general-information-1">
                    <p><strong><em>Số giờ dự giảng</em></strong></p>
                </td>
                <td class="header-1-general-information-1">
                    <p><strong><em>Giờ tự học và giờ học khác</em></strong></p>
                </td>
            </tr>
            <tr>
                <td class="body-1-general-information-1">
                    <p class="flex-row">
                        <span class="flex-row-text">
                            <label for="LoaiHocPhan1">Đại cương</label>
                        </span>
                        <span class="test">
                            <input class="test" type="checkbox" value="Đại cương" id="LoaiHocPhan1"
                                onclick="checkboxChanged('LoaiHocPhan1')">
                        </span>
                    </p>
                    <p class="flex-row">
                        <span class="flex-row-text">
                            <label for="LoaiHocPhan2">Cơ sở</label>
                        </span>
                        <span class="test">
                            <input type="checkbox" value="Cơ sở" id="LoaiHocPhan2"
                                onclick="checkboxChanged('LoaiHocPhan2')">
                        </span>
                    </p>
                    <p class="flex-row">
                        <span class="flex-row-text">
                            <label for="LoaiHocPhan3">Chuyên ngành</label>
                        </span>
                        <span class="test">
                            <input type="checkbox" value="Chuyên ngành" id="LoaiHocPhan3"
                                onclick="checkboxChanged('LoaiHocPhan3')">
                        </span>
                    </p>
                </td>
                <td class="body-1-general-information-1">
                    <div class="dropdown" id="dropdown-SoTC_LT">
                        Lý thuyết:&nbsp;
                        <span contenteditable="true" id="SoTC_LT">{{HocPhan.SoTC_LT}}</span>
                        <ul class="dropdown-content">
                            <li onclick="updateValue('SoTC_LT', '1','TUA')">1</li>
                            <li onclick="updateValue('SoTC_LT', '2','TUA')">2</li>
                            <li onclick="updateValue('SoTC_LT', '3','TUA')">3</li>
                            <li onclick="updateValue('SoTC_LT', '4','TUA')">4</li>
                            <li onclick="updateValue('SoTC_LT', '5','TUA')">5</li>
                        </ul>
                    </div>
                    <br>
                    <br>
                    <div class="dropdown" id="dropdown-SoTC_TH">
                        Thực hành:&nbsp;
                        <span contenteditable="true" id="SoTC_TH">{{HocPhan.SoTC_TH}}</span>
                        <ul class="dropdown-content">
                            <li onclick="updateValue('SoTC_TH', '1','TUA')">1</li>
                            <li onclick="updateValue('SoTC_TH', '2','TUA')">2</li>
                            <li onclick="updateValue('SoTC_TH', '3','TUA')">3</li>
                            <li onclick="updateValue('SoTC_TH', '4','TUA')">4</li>
                            <li onclick="updateValue('SoTC_TH', '5','TUA')">5</li>
                        </ul>
                    </div>
                </td>
                <td class="body-1-general-information-1">
                    <div class="dropdown" id="dropdown-LT">
                        Lý thuyết:&nbsp;
                        <span contenteditable="true" id="LT">{{HocPhan.LT}}</span>
                        <ul class="dropdown-content">
                            <li onclick="updateValue('LT', '1','TUA')">1</li>
                            <li onclick="updateValue('LT', '2','TUA')">2</li>
                            <li onclick="updateValue('LT', '3','TUA')">3</li>
                            <li onclick="updateValue('LT', '4','TUA')">4</li>
                            <li onclick="updateValue('LT', '5','TUA')">5</li>
                        </ul>
                    </div>
                    <br>
                    <br>
                    <div class="dropdown" id="dropdown-TH">
                        Thực hành:&nbsp;
                        <span contenteditable="true" id="TH">{{HocPhan.TH}}</span>
                        <ul class="dropdown-content">
                            <li onclick="updateValue('TH', '1','TUA')">1</li>
                            <li onclick="updateValue('TH', '2','TUA')">2</li>
                            <li onclick="updateValue('TH', '3','TUA')">3</li>
                            <li onclick="updateValue('TH', '4','TUA')">4</li>
                            <li onclick="updateValue('TH', '5','TUA')">5</li>
                        </ul>
                    </div>

                </td>
                <td class="body-1-general-information-1">
                    <div class="dropdown" id="dropdown-SoGioTuHoc">

                        <span contenteditable="true" id="SoGioTuHoc">{{HocPhan.SoGioTuHoc}}</span>
                        <ul class="dropdown-content">
                            <li onclick="updateValue('SoGioTuHoc', '1','TUA')">1</li>
                            <li onclick="updateValue('SoGioTuHoc', '2','TUA')">2</li>
                            <li onclick="updateValue('SoGioTuHoc', '3','TUA')">3</li>
                            <li onclick="updateValue('SoGioTuHoc', '4','TUA')">4</li>
                            <li onclick="updateValue('SoGioTuHoc', '5','TUA')">5</li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <p><strong><em><span>Đối tượng học</span></em><span>: &nbsp; &nbsp; &nbsp;&nbsp;</span></strong></p>
    <p>Trình độ đào tạo:&nbsp;<span contenteditable="true" id="TrinhDo_DT">{{HocPhan.TrinhDo_DT}}</span>
    </p>
    <p>Ngành:&nbsp;<span contenteditable="true" id="Nganh">Công nghệ Thông tin</span></p>
    <div><span>Chuyên ngành:&nbsp;<span contenteditable="true" id="ChuyenNganh">
                &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;.
            </span>(nếu có)</span></div>
    <p class="display-flex">
    <div class="dropdown" id="dropdown-HocKy">
        Học kỳ:&nbsp;
        <span contenteditable="true" id="HocKy">{{HocPhan.HocKy}}</span>
        <ul class="dropdown-content">
            <li onclick="updateValue('HocKy', 'I','TUA')">I</li>
            <li onclick="updateValue('HocKy', 'II','TUA')">II</li>
            <li onclick="updateValue('HocKy', 'III','TUA')">III</li>
            <li onclick="updateValue('HocKy', 'IV','TUA')">IV</li>
            <li onclick="updateValue('HocKy', 'V','TUA')">V</li>
            <li onclick="updateValue('HocKy', 'VI','TUA')">VI</li>
            <li onclick="updateValue('HocKy', 'VII','TUA')">VII</li>
            <li onclick="updateValue('HocKy', 'VII','TUA')">VII</li>
            <li onclick="updateValue('HocKy', 'VIII','TUA')">VIII</li>
        </ul>
    </div>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp;
    &nbsp;
    <div class="dropdown" id="dropdown-NamHoc">
        Năm thứ:&nbsp;
        <span contenteditable="true" id="NamHoc">{{HocPhan.NamHoc}}</span>
        <ul class="dropdown-content">
            <li onclick="updateValue('NamHoc', '1','TUA')">1</li>
            <li onclick="updateValue('NamHoc', '2','TUA')">2</li>
            <li onclick="updateValue('NamHoc', '3','TUA')">3</li>
            <li onclick="updateValue('NamHoc', '4','TUA')">4</li>
            <li onclick="updateValue('NamHoc', '5','TUA')">5</li>
        </ul>
    </div>

    </p>

    <p><strong><em><span>Điều kiện tham gia học phần:</span></em></strong></p>

    <table class="table-1-general-information-2">
        <tbody>
            <tr>
                <td class="header-1-general-information-2">Học phần tiên quyết</td>
                <td colspan="2" class="body-1-general-colspan-2" id="TienQuyet">
                    <div class="ModifyTB2">
                        <div class="autocomplete">Tên:&nbsp;
                            <span contenteditable="true" id="TenTQ1">
                                Vi tích phân A1
                            </span>
                        </div>

                        <div class="autocomplete">MSHP:&nbsp;
                            <span contenteditable="true" id="MaTQ1">
                                110042
                            </span>
                        </div>
                    </div>

                </td>
            </tr>

            <tr>
                <td class="body-1-general-left-2">Học phần song hành</td>
                <td colspan="2" class="body-1-general-right-2" id="HocPhan_SH">
                    <span contenteditable="true">Không</span>
                </td>
            </tr>
            <tr>
                <td rowspan="3" class="body-1-general-left-2">Các yêu cầu khác</td>
                <td class="header-1-general-information-2">Về kiến thức:</td>
                <td class="body-1-general-colspan-2">
                    <div contenteditable="true" id="KienThuc" onkeydown="handleKeyPress('KienThuc',event)">
                        Kiến thức toán học phổ
                        thông
                    </div>
                </td>
            </tr>
            <tr>
                <td class="header-1-general-information-2">Về kỹ năng:</td>

                <td class="body-1-general-colspan-2 section-content text-left" contenteditable="true" id="KyNang"
                    onkeydown="handleKeyPress('KyNang',event)">

                    <div>&nbsp;&nbsp;-&nbsp;&nbsp;Kỹ năng phân tích, giải quyết vấn đề</div>
                    <div>&nbsp;&nbsp;-&nbsp;&nbsp;Kỹ năng tập trung, ghi nhớ, tính toán, biến đổi</div>

                </td>
            </tr>
            <tr>
                <td class="header-1-general-information-2">Về thái độ:</td>
                <td class="body-1-general-colspan-2 text-left" contenteditable="true" id="ThaiDo"
                    onkeydown="handleKeyPress('ThaiDo',event)">
                    Chủ động trong học tập
                </td>
            </tr>
        </tbody>
    </table>
    <p class="section-content">&nbsp;</p>
</div> --}}

{{!-- <div class="formLearningResources">
    <p class="section-content break"><strong><span>2. Nguồn học liệu (Learning
                resources):</span></strong>
    </p>
    <p class="section-content">&nbsp;</p>
    <div class="table-2-display-row">
        <table class="table-2-learning-resources">
            <tbody>
                <tr>
                    <td class="table-2-learning-header">
                        <p><span id="loaiHocLieu">Giáo trình/Tài liệu học tập chính</span></p>
                    </td>
                    <td class="table-2-learning-body" contenteditable="true">

                        <div id="giaotrinh">
                            {{#each TLTK_GT}}
                            <p id="GT{{inc @index}}" class="allowDeletion2 giaotrinh">
                                [<span id="STT_GT_{{inc @index}}" class="STT_TB2"
                                    onclick="hiddenAndShow({{inc @index}}, 'GT')" contenteditable="true">{{inc
                                    @index}}</span>]
                                <span id="TG_GT_{{inc @index}}" onclick="hiddenAndShow({{inc @index}}, 'GT')"
                                    contenteditable="true" class="TacGia">{{joinArray this.tacGia}}</span>
                                (<span id="NXB_GT_{{inc @index}}" onclick="hiddenAndShow({{inc @index}}, 'GT')"
                                    contenteditable="true" class="NamXB">{{this.namXuatBan}}</span>).&nbsp;
                                <span id="Ten_GT_{{inc @index}}" onclick="hiddenAndShow({{inc @index}}, 'GT')"
                                    contenteditable="true" class="TenTL text-nghien">{{this.tenTLTK}}</span>
                                [<span id="NGUON_GT_{{inc @index}}" onclick="hiddenAndShow({{inc @index}}, 'GT')"
                                    contenteditable="true" class="Nguon">{{this.nguon}}</span>]
                                <span contenteditable="true"
                                    id="No">.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            </p>
                            <div id="GT{{inc @index}}div" class="hidden_GT{{inc @index}} hidden">
                                <!-- Additional details for each document can be displayed here -->
                                <p><strong>STT:</strong>&nbsp;[<span id="STT_GT_DSpan_{{inc @index}}"></span>]
                                </p>
                                <p><strong>Tên tác giả:</strong>&nbsp;<span id="TG_GT_DSpan_{{inc @index}}"
                                        contenteditable="true"></span>
                                </p>
                                <p><strong>Năm Xuất bảng:</strong>&nbsp;<span id="NXB_GT_DSpan_{{inc @index}}"
                                        contenteditable="true"></span>
                                </p>
                                <p><strong>Tên tài liệu tham khảo:</strong>&nbsp;<span id="TEN_GT_DSpan_{{inc @index}}"
                                        contenteditable="true" class="text-nghien"></span></p>
                                <p><strong>Nguồn:</strong>&nbsp;<span id="NGUON_GT_DSpan_{{inc @index}}"
                                        contenteditable="true"></span></p>
                            </div>
                            {{/each}}
                        </div>
                    </td>
                    <td class="empty"></td>
                </tr>
                <tr>
                    <td class="table-2-learning-header">
                        <p><span id="loaiHocLieu">Tài liệu tham khảo thêm</span></p>
                    </td>
                    <td class="table-2-learning-body">

                        <div id="TaiLieuThamKhao">
                            {{#each TLTK_TK}}
                            <p id="TL{{inc @index}}" class="allowDeletion2 TaiLieuThamKhao">
                                [<span id="STT_TL_{{inc @index}}" class="STT_TB2"
                                    onclick="hiddenAndShow({{inc @index}}, 'TL')" contenteditable="true">{{inc
                                    @index}}</span>]
                                <span id="TG_TL_{{inc @index}}" onclick="hiddenAndShow({{inc @index}}, 'TL')"
                                    contenteditable="true" class="TacGia">{{joinArray this.tacGia}}</span>
                                (<span id="NXB_TL_{{inc @index}}" onclick="hiddenAndShow({{inc @index}}, 'TL')"
                                    contenteditable="true" class="NamXB">{{this.namXuatBan}}</span>).&nbsp;
                                <span id="Ten_TL_{{inc @index}}" onclick="hiddenAndShow({{inc @index}}, 'TL')"
                                    contenteditable="true" class="TenTL text-nghien">{{this.tenTLTK}}</span>
                                [<span id="NGUON_TL_{{inc @index}}" onclick="hiddenAndShow({{inc @index}}, 'TL')"
                                    contenteditable="true" class="Nguon">{{this.nguon}}</span>]
                                <span contenteditable="true"
                                    id="No">.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            </p>
                            <div id="TL{{inc @index}}div" class="hidden_TL{{inc @index}} hidden">
                                <!-- Additional details for each document can be displayed here -->
                                <p><strong>STT:</strong>&nbsp;[<span id="STT_TL_DSpan_{{inc @index}}"></span>]
                                </p>
                                <p><strong>Tên tác giả:</strong>&nbsp;<span id="TG_TL_DSpan_{{inc @index}}"
                                        contenteditable="true"></span>
                                </p>
                                <p><strong>Năm Xuất bảng:</strong>&nbsp;<span id="NXB_TL_DSpan_{{inc @index}}"
                                        contenteditable="true"></span>
                                </p>
                                <p><strong>Tên tài liệu tham khảo:</strong>&nbsp;<span id="TEN_TL_DSpan_{{inc @index}}"
                                        contenteditable="true" class="text-nghien"></span></p>
                                <p><strong>Nguồn:</strong>&nbsp;<span id="NGUON_TL_DSpan_{{inc @index}}"
                                        contenteditable="true"></span></p>
                            </div>
                            {{/each}}
                        </div>
                    </td>
                    <td class="empty"></td>
                </tr>
                <tr>
                    <td class="table-2-learning-header">
                        <p><span id="loaiHocLieu">Các loại học liệu khác</span></p>
                    </td>
                    <td class="table-2-learning-body">

                        <div id="HocLieu">
                            {{#each TLTK_HL}}
                            <p id="HL{{inc @index}}" class="allowDeletion2 HocLieu">
                                [<span id="STT_HL_{{inc @index}}" class="STT_TB2"
                                    onclick="hiddenAndShow({{inc @index}}, 'HL')" contenteditable="true">{{inc
                                    @index}}</span>]
                                <span id="TG_HL_{{inc @index}}" onclick="hiddenAndShow({{inc @index}}, 'HL')"
                                    contenteditable="true" class="TacGia">{{joinArray this.tacGia}}</span>
                                (<span id="NXB_HL_{{inc @index}}" onclick="hiddenAndShow({{inc @index}}, 'HL')"
                                    contenteditable="true" class="NamXB">{{this.namXuatBan}}</span>).&nbsp;
                                <span id="Ten_HL_{{inc @index}}" onclick="hiddenAndShow({{inc @index}}, 'HL')"
                                    contenteditable="true" class="TenTL text-nghien">{{this.tenTLTK}}</span>
                                [<span id="NGUON_HL_{{inc @index}}" onclick="hiddenAndShow({{inc @index}}, 'HL')"
                                    contenteditable="true" class="Nguon">{{this.nguon}}</span>]
                                <span contenteditable="true"
                                    id="No">.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            </p>
                            <div id="HL{{inc @index}}div" class="hidden_HL{{inc @index}} hidden">
                                <!-- Additional details for each document can be displayed here -->
                                <p><strong>STT:</strong>&nbsp;[<span id="STT_HL_DSpan_{{inc @index}}"></span>]
                                </p>
                                <p><strong>Tên tác giả:</strong>&nbsp;<span id="TG_HL_DSpan_{{inc @index}}"
                                        contenteditable="true"></span>
                                </p>
                                <p><strong>Năm Xuất bảng:</strong>&nbsp;<span id="NXB_HL_DSpan_{{inc @index}}"
                                        contenteditable="true"></span>
                                </p>
                                <p><strong>Tên tài liệu tham khảo:</strong>&nbsp;<span id="TEN_HL_DSpan_{{inc @index}}"
                                        contenteditable="true" class="text-nghien"></span></p>
                                <p><strong>Nguồn:</strong>&nbsp;<span id="NGUON_HL_DSpan_{{inc @index}}"
                                        contenteditable="true"></span></p>
                            </div>
                            {{/each}}
                        </div>
                    </td>
                    <td class="empty"></td>
                </tr>
            </tbody>
        </table>

        <div class="instructionForm-table2" id="instructionForm-table2">
            <h3>Bảng Chương phần 2</h3>

            <button id="addButton" onclick="CreateCDR('GT','giaotrinh')" class="btn btn-secondary ctc1">
                + thêm 1 giaotrinh
            </button>

            <button id="addButton" onclick="CreateCDR('TL','TaiLieuThamKhao')" class="btn btn-secondary ctc1">
                + thêm 1 TaiLieuThamKhao
            </button>
            <button id="addButton" onclick="CreateCDR('GT', 'HocLieu')" class="btn btn-secondary ctc1">
                + thêm 1 HocLieu
            </button>

            <button id="button_delete_tb2" class="btn btn-secondary ctc1">
                + xóa
            </button>
        </div>

    </div>
    <p class="section-content">&nbsp;</p>
</div> --}}



{{!----}}
{{!-- 3. Mô tả học phần (Course description): --}}
{{!----}}

{{!-- <div class="CourseDescription">
    <p class="section-content">&nbsp;</p>
    <div class="width16_cm">
        <p class="section-content"><strong><span>3. Mô tả học phần (Course description):</span></strong>
        </p>
        <div class="section-content" contenteditable="true" id="MoTa" onkeydown="handleKeyPress('MoTa',event)">
            {{HocPhan.MoTa}}
        </div>
        <p class="section-content">&nbsp;</p>
    </div>
</div> --}}