<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý đề cương</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/layout_main_hbs.css">
    <link rel="stylesheet" href="/css/test/test.css">
    <link rel="stylesheet" href="/css/formInput_monHoc/formInput_monHoc.css">
    <link rel="stylesheet" href="/css/formInput_monHoc/table-1-general-information.css">
    <link rel="stylesheet" href="/css/formInput_monHoc/table-2-learning-resources.css">
    <link rel="stylesheet" href="/css/formInput_monHoc/table-4-learning-outcomes.css">
    <link rel="stylesheet" href="/css/formInput_monHoc/table-5-course-content.css">
    <link rel="stylesheet" href="/css/formInput_monHoc/table-7-course-assessment.css">
    <link rel="stylesheet" href="/css/formInput_monHoc/table-9-list-teacher.css">
    <link rel="stylesheet" href="/css/project/list_project.css">
    <link rel="stylesheet" href="/css/program/program.css">
    <link rel="stylesheet" href="/css/template/LayoutFormTemplate.css">
    <link rel="stylesheet" href="/css/layout_main_admin.css">
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <div class="admin" id="admin" style="display: none;">
        <div class="layout_Admin">
            <header class="header" id="header">
                <div class="container">
                    <nav class="navigation">
                        <ul>
                            <li><a href="/admin" id="modify__user_hidden">
                                    <h5 style="display: flex; gap: 0 10px;"><i class="fa-solid fa-print"></i>
                                        <div>Trang Chủ</div>
                                    </h5>
                                </a></li>

                        </ul>
                    </nav>
                    <nav class="navigation">
                        <ul>
                            <li>
                                {{#if token}}
                                <a href="/logout">
                                    <h5>Đăng xuất</h5>
                                </a>
                                {{else}}
                                <a href="/login">
                                    <h5>Đăng nhập</h5>
                                </a>
                                {{/if}}
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="modify__hidden_container_admin" style="display: none; width: 100%;height:100px">
                    <nav class="navigation">
                        <ul>
                            <li><a href="/home">
                                    <h5 style="display: flex; gap: 0 10px;"><i class="fa-solid fa-print"></i>
                                        <div>Trang Chủ</div>
                                    </h5>
                                </a></li>

                        </ul>
                    </nav>
                    <nav class="navigation">
                        <ul>
                            <li>
                                {{#if token}}
                                <a href="/logout">
                                    <h5>Đăng xuất</h5>
                                </a>
                                {{else}}
                                <a href="/login">
                                    <h5>Đăng nhập</h5>
                                </a>
                                {{/if}}
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>
            <div class="Admin_Nav">
                <a href="/admin/program">Quản lý Program</a><br>
                {{#if Program}}
                <div>
                    <a href="/admin/program/edit"> -&nbsp;&nbsp;Chỉnh sửa Program</a>
                </div><br>
                <div>
                    <a href="/admin/program/plo"> -&nbsp;&nbsp;Quản lý PLO</a>
                </div><br>
                <div>
                    <a href="/admin/program/po"> -&nbsp;&nbsp;Quản lý PO</a>
                </div><br>
                <div>
                    <a href="/admin/program/Matrix"> -&nbsp;&nbsp;Quản lý PLO-PO</a>
                </div><br>
                {{else}}
          
                {{/if}}
                <a href="/admin/template">Quản lý khung</a><br>
                <a href="/admin/list-user">Quản lý người dùng</a><br>
                <a href="/admin/Autocomplete">Quản lý từ gợi ý</a><br>
            </div>

            <div class="Admin_product">
                <div class="Admin_product_list">
                    {{{body}}}
                </div>
            </div>
            
        </div>
        
    </div>
    <div class="main" id="main">
        <div class="header" id="Layout_main_modify_hidden">
            {{>header}}
        </div>
        <div class="body">
            {{{body}}}
        </div>
        <div class="footer">
            {{>footer}}
        </div>
    </div>


</body>

</html>